* {
  box-sizing: border-box;
}

/* Style inputs */
.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.image-and-text {
  margin: 0%;

  width: 100%;
  background-image: url(https://cdn.pixabay.com/photo/2015/01/14/18/41/home-office-599475_960_720.jpg);

  align-items: center;
  padding: 15%;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.85;
}

.text {
  color: red;
  text-shadow: 2px 2px #0c0101;
  letter-spacing: 3px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}
.paragraph {
  text-align: center;
  font-size: 18px;
}
.heading-text {
  padding: 4%;
  text-align: center;
}
#service.card-img-top {
  height: 100px;
  width: 20%;
  text-align: center;
  padding-top: 30px;
  margin: auto;
}
#carousel-example-1z {
  z-index: -1;
}
.d-block {
  height: 500px;
}
body {
  background-color: rgb(238, 231, 231);
}
.card-body {
  text-align: center;
}

#height.card {
  height: 60%;
  padding: 4px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;

  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 100%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
